{{!-- <li>
	{{name}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}DEVOUR IT!
	</button> --}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DEVOUR IT OLD (DELETES)!</button> --}}
{{!-- </li> --}}


{{!-- <ul>
  {{#each movies}}
    <li>
      <p>
        {{this.id}}. {{this.movie}}

        <button data-movieid="{{this.id}}" class="delmovie">Delete</button>
      </p>
    </li>
  {{/each}}
</ul> --}}